$header-height: 3em !default;
$alert-height: .3em;
$content-wrap-padding: $header-height + $alert-height + .5em;
$border-radius: 3px;


* {
  @include box-sizing(border-box);
}

body {
  @include default-font;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: $content-wrap-padding .5em .5em;
  position: relative;
}
