@mixin fixed-to-top {
  width: 100%;
  left: 0;
  position: fixed;
}

header {
  @include fixed-to-top;
  background-color: $taskerly-green;
  height: $header-height;
  top: 0;
}

.header__alerts {
  @include fixed-to-top;
  background-color: $header-alert-green;
  height: $alert-height;
  top: $header-height;
}

.navigation-bar__links {
  bottom: 0;
  margin-bottom: .2em;
  position: absolute;

  li {
    display: inline-block;
    margin: 0 1em;
  }

  a {
    color: $white;
    text-decoration: none;
    &:hover {
      font-style: italic;
    }
  }
}
